<h2>Your Cart</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-md-2">Name</th>
			<th class="col-md-2">Price</th>
			<th>Qty</th>
		</tr>
	</thead>
	<tbody>
		<% total_price = 0 %>
		<% total_qty = 0 %>
		<% @items.each do |item| %>
			<tr>
				<td><%= item[0].title %></td>
				<td><%= item[0].price %></td>
				<td><%= item[1] %></td>
			</tr>
			<% total_price += item[0].price.to_i * item[1].to_i %>
			<% total_qty += item[1].to_i %>
		<% end %>
			<tr>
				<td></td>
				<td></td>
				<td>Total: <%= total_qty %></td>
				<td class="col-md-7">Total price: <%= total_price %></td>
			</tr>
	</tbody>
</table>
<form action="/visit" method="POST">

    <div class="form-group">
      <label>Ваше имя</label>
      <input name="username" type="text" class="form-control" placeholder="Введите ваше имя" value="<%= @username %>">
    </div>

    <div class="form-group">
      <label>Ваш телефон</label>
      <input name="phone" type="text" class="form-control" placeholder="Введите ваш телефон" value="<%= @phone %>">
    </div>

    <div class="form-group">
      <label>Когда вас ждать?</label>
      <input id="datetimepicker" name="datetime" type="text" class="form-control" placeholder="Введите дату и время" value="<%= @datetime %>">
    </div>

    <div class="form-group">
		<label>Ваш парикмахер:</label>
		<select name="barber" class="form-control">
        <option selected>Выберите парикмахера из списка</option>

  		</select>
  	</div>

    <button type="submit" class="btn btn-primary">Записаться</button>
</form>