<h2>Welcome to Pizza Shop</h2>

<div class="row">	

	<% @products.each do |p|%>
	<div class="col-md-3">
		<div>
			<%= p.title %>
		</div>
		<br />
		<div>
			<img src="<%= p.path_to_image%>" class="img-rounded" data-toggle="tooltip" title="<%= p.description %>">
		</div>	
		<br />
		<div>
			Price: <%= p.price %> br
		</div>	
		<div>
			Size: <%= p.size %> sm
		</div>				
	</div>
	<% end %>

</div>
<br />
<br />


<button class="btn btn-primary btn-lg" onclick="something()">Click me</button>
