<h2>Welcome to Pizza Shop</h2>

<div class="row">	

	<% @products.each do |p|%>
	<div class="col-md-3">
		<div>
			<%= p.title %>
		</div>
		<br />
		<div>
			<img src="<%= p.path_to_image %>" class="img-rounded" data-toggle="tooltip" title="<%= p.description %>">
		</div>	
		<br />
		<div>
			Size: <%= p.size %> rub
		</div>	
		<div>
			Price: <%= p.price %> sm
		</div>
		<div>
			<button type="button" class="btn btn-danger btn-sm" onclick="remove_from_cart(<%= p.id %>)">-</button>
			<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= p.id %>)">+</button>
		</div>				
	</div>
	<% end %>

</div>
<br />
<br />

